<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.AdminDAO">
	
	<select id="getNewMemberCount" resultType="int">
		select count(*) from member2 where <![CDATA[datediff(now(),startDate) < 1]]>;
	</select>
	
	<select id="getNewBoardCount" resultType="int">
		select count(*) from board2 where <![CDATA[datediff(now(),wDate) < 1]]>;
	</select>
	
	<update id="setMemberLevelCheck">
		update member2 set level=#{level} where idx=#{idx};
	</update>
	
	<delete id="setMemberDelete">
		delete from member2 where idx=#{idx};
	</delete>
	
</mapper>